h1{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align:center;
}
h3{
    text-align:center;
    padding-bottom: 20px;
}
header{
    background: rgb(127, 238, 232);
}
ol{
    font-size: 28px;
}
p{
    padding-top: 4px;
    font-size: 18px;
}
h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}
h5 {
     padding-bottom: 30px;
}
li{
    padding-bottom: 10px;
}
body{
    background-color: rgb(255,250,250);
}
hr {
    border: none; 
    background-color: #464948; 
    color: #464948; 
    height: 3px; 
}
.triangle {
    width: 50%; 
    height: 0;
    border-top: 100px solid transparent;
    border-right: 70px solid rgb(224, 72, 72);
    border-bottom: 100px solid transparent;
    margin-bottom: 30px;
}